@layer components {
  /* MINIMUM TARGET SIZING */
  .target::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    min-width: 4.8rem;
    height: 100%;
    min-height: 4.8rem;
  }

  /* TARGET VIEW TESTING */
  /* button::before, 
  a::before {
    z-index: -1;
    background-color: aqua;
    opacity: 0.4;
  } */
}
