@layer base {
    body {
        @apply text-base text-gray-800 xl:leading-[1.7];
    }

    p {
        @apply mb-[1.8rem];
    }

    .prose-lg ul,
    .prose-xl ul {
        list-style: disc outside;
        padding-left: 3.5rem;
        > li {
            margin-top: 0;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .prose-lg ol,
    .prose-xl ol {
        list-style: decimal;
        padding-left: 3.5rem;
        > li {
            margin-top: 0;
            font-weight: 500;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    h1 {
    }
}
