@layer base {
    body {
        @apply text-base text-gray-800 xl:leading-[1.5];
    }

    p {
        @apply mb-[18px];
    }

    .prose ul,
    .prose-lg ul,
    .prose-xl ul {
        list-style: disc outside;
        padding-left: 2.1875rem;
        > li {
            margin-top: 0;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .prose ol,
    .prose-lg ol,
    .prose-xl ol {
        list-style: decimal;
        padding-left: 2.1875rem;
        > li {
            margin-top: 0;
            font-weight: 500;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
