@layer components {
    #about .skills {
        @apply block pt-12 text-base lg:text-lg;

        td {
            padding: 5px 0;
        }

        tr td:first-child {
            width: 170px;
            font-weight: bold;
            text-decoration: underline;
        }
    }
}
