/* BASE */

.btn {
  @apply inline-flex flex-wrap items-center justify-center font-medium;
}

/* SIZE */
.btn-xs,
.btn-xs-wide {
  @apply px-2.5 py-1 text-xs border-2 rounded-md tracking-wide;
  line-height: 1.125rem;
}

.btn-xs-wide {
  @apply px-4;
}

.btn-sm,
.btn-sm-wide {
  @apply px-3.5 py-1.5 text-base rounded-lg border-3;
  line-height: 1.5rem;
}

.btn-sm-wide {
  @apply px-6;
}

.btn-md,
.btn-md-wide {
  @apply text-lg border-4 px-5 py-2 rounded-lg;
  line-height: 1.625rem;
}

.btn-md-wide {
  @apply px-8;
}

.btn-lg,
.btn-lg-wide {
  @apply px-6 py-2.5 text-xl border-5 rounded-xl;
  line-height: 1.75rem;
}

.btn-lg-wide {
  @apply px-10;
}

.btn-xl,
.btn-xl-wide {
  @apply text-2xl border-5 px-7 py-3 rounded-xl;
  line-height: 1.875rem;
}

.btn-xl-wide {
  @apply px-12;
}
