@layer components {
  .card {
    @apply relative flex gap-4 xl:gap-5 2k:gap-6;
    /* @apply hover:scale-[1.02] hover:ease-in ease-out duration-300; */
    @apply hover:bg-gray-1;
  }

  .card-title a::before {
    /* @apply after:absolute after:top-0 after:right-0 after:bottom-0 after:left-0 */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .card-title a {
    cursor: pointer;
  }

  .card-title a:focus {
    outline: none;
    @apply ring-0 ring-offset-0;
  }

  /* .card-title a:hover::before, */
  .card-title a:focus::before {
    @apply ring-4 ring-offset-2;
  }
}
