:root {
  --site-red: #d3314c;
  --site-red-shade: #b51c36;
  --site-purple-25: #fbf8fc;
  --site-purple-100: #dec0e8;
  --site-purple-200: #c692d8;
  --site-purple-400: #9f47bd;
  --site-purple-700: #821fa3;
  --site-purple-900: #6d148a;
  --site-purple-1000: #590e72;
}

:root {
  --border-state-down: var(--site-purple-200);
  --border-state-active: var(--site-purple-1000);
  --border-state-hover: var(--site-purple-400);
  --border-state-inactive: var(--site-purple-900);
  --border-state-any-bright: var(--site-purple-25);
  --fill-state-down: var(--site-purple-1000);
  --fill-state-active: var(--site-purple-700);
  --fill-state-hover: var(--site-purple-100);
  --fill-state-inactive: var(--site-purple-400);
}
