@layer base {
  /* Vellandi Logo */
  /* dancing-script-600 - latin */
  @font-face {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 600;
    src: 
      /* Super Modern Browsers */ url("../fonts/dancing-script/dancing-script-v24-latin-600.woff2")
        format("woff2"),
      /* Modern Browsers */
        url("../fonts/dancing-script/dancing-script-v24-latin-600.woff")
        format("woff"),
      /* Safari, Android, iOS */
        url("../fonts/dancing-script/dancing-script-v24-latin-600.ttf")
        format("truetype");
  }

  @font-face {
    font-family: "Slabo 13px";
    font-style: normal;
    font-weight: 400;
    src: 
      /* All */ url("../fonts/slabo-13px/Slabo13px-Regular.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 200 1000;
    src: url("../fonts/nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  }

  @font-face {
    font-family: "Nunito";
    font-style: italic;
    font-weight: 200 1000;
    src: url("../fonts/nunito/Nunito-Italic-VariableFont_wght.ttf")
      format("truetype");
  }

  /* inter-300 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: 
      /* Super Modern Browsers */ url("../fonts/inter/inter-v12-latin-300.woff2")
        format("woff2"),
      /* Modern Browsers */ url("../fonts/inter/inter-v12-latin-300.woff")
        format("woff"),
      /* Safari, Android, iOS */ url("../fonts/inter/inter-v12-latin-300.ttf")
        format("truetype");
  }
  /* inter-regular - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: 
      /* Super Modern Browsers */ url("../fonts/inter/inter-v12-latin-regular.woff2")
        format("woff2"),
      /* Modern Browsers */ url("../fonts/inter/inter-v12-latin-regular.woff")
        format("woff"),
      /* Safari, Android, iOS */
        url("../fonts/inter/inter-v12-latin-regular.ttf") format("truetype");
  }
  /* inter-500 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: 
      /* Super Modern Browsers */ url("../fonts/inter/inter-v12-latin-500.woff2")
        format("woff2"),
      /* Modern Browsers */ url("../fonts/inter/inter-v12-latin-500.woff")
        format("woff"),
      /* Safari, Android, iOS */ url("../fonts/inter/inter-v12-latin-500.ttf")
        format("truetype");
  }
  /* inter-600 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: 
      /* Super Modern Browsers */ url("../fonts/inter/inter-v12-latin-600.woff2")
        format("woff2"),
      /* Modern Browsers */ url("../fonts/inter/inter-v12-latin-600.woff")
        format("woff"),
      /* Safari, Android, iOS */ url("../fonts/inter/inter-v12-latin-600.ttf")
        format("truetype");
  }
  /* inter-700 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: 
      /* Super Modern Browsers */ url("../fonts/inter/inter-v12-latin-700.woff2")
        format("woff2"),
      /* Modern Browsers */ url("../fonts/inter/inter-v12-latin-700.woff")
        format("woff"),
      /* Safari, Android, iOS */ url("../fonts/inter/inter-v12-latin-700.ttf")
        format("truetype");
  }
}
