/* BASE */
@import url(./fonts.css);

/* COMPONENTS */
@import url(./button-sizes.css);
@import url(./button-colors.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #d3314c;
}

.about-mario {
  text-decoration: solid underline #ffb54d;
  -webkit-text-decoration: solid underline #ffb54d;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}
