/* GLOBAL STYLES */
:root {
  /* font-size: 0.625rem; */
  font-size: 62.5%;

  /* COLORS */
  --color-blue: #2563eb;
  --color-red: #c93b53;
}

html {
  overscroll-behavior: none;
}

body {
  @apply bg-red;
}
