/* GLOBAL STYLES */
:root {
  /* font-size: 62.5%; for standard fonts */
  /* Adjusted for Nunito base font */
  font-size: 66.3%;
  font-weight: 450;

  /* COLORS */
  --color-blue: #2563eb;
  --color-red: #c93b53;
}

html {
  overscroll-behavior: none;
}

body {
  @apply bg-red;
}
