@layer base {
  :root {
    font-size: 0.625rem;
  }
  
  html {
    overscroll-behavior: none;
  }
  /* TEXT AND COLOR */
  body {
    @apply text-gray-800 text-base bg-red;
  }

  .text-link {
    color: #2563eb;
  }

  .btn-link {
    border: none;
  }

  /* PADDING X */
  .site-padding-x {
    @apply px-20 sm:px-32 md:px-40 2xl:px-0;
  }

  /* CONTENT POSITION ADJUSTMENT FOR STICKY HEADER */
  .main-content-y {
    @apply mt-56 sm:mt-[72px] lgtall:mt-96 2k:mt-[90px] 2k3:mt-[120px];
  }

  .item-content-y {
    @apply mt-56 sm:mt-[72px] md:mt-[110px] 2k3:mt-[120px];
  }
  /* OUTLINE */
  *:focus {
    outline: none;
    @apply ring-4 ring-offset-2;
  }

  /* .site-target-minh a, .site-target-minh button {
    @apply min-h-[48px] min-w-[48px];
    @apply inline-block h-48;
  } */
}
