@layer base {
  :root {
    /* font-size: 0.625rem; */
    font-size: 62.5%;
  }

  html {
    overscroll-behavior: none;
  }
  /* TEXT AND COLOR */
  body {
    @apply text-gray-800 text-base bg-red;
    font-size: 1.6rem;
  }

  .text-link {
    color: #2563eb;
    text-decoration: underline;
  }

  .text-link-inverse {
    display: inline-block;
    padding: 0 0.2rem;
    background-color: #4b74cee2;
  }

  .btn-link {
    border: none;
  }

  /* PADDING X */
  .site-padding-x {
    @apply px-20 sm:px-32 md:px-40 2xl:px-0;
  }

  /* OUTLINE */
  *:focus {
    outline: none;
    @apply ring-4 ring-offset-2;
  }
}
