@layer utilities {
  /* CONTACT PAGE */
  .obfuscate {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-weight: 600;
  }

  /* DEV UTILS */
  .bord-blue,
  .bord-blue div,
  .bord-blue article,
  .bord-blue li,
  .bord-blue section {
    border: 1px solid blue;
  }
}
